VITE_SUPABASE_PROJECT_ID=project/moppvgrswdlmrggahiju
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vcHB2Z3Jzd2RsbXJnZ2FoaWp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NzcxMDAsImV4cCI6MjA5NzQ1MzEwMH0.NVEsgDB2-R93c4jwDZ0q4DDnqMNKLc-fxrS3FfS44hI
